/* Gradient Instagram */
.ig-gradient {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.ig-gradient-hover:hover {
    background: linear-gradient(45deg, #e08423 0%, #d6582c 25%, #cc1733 50%, #bc1356 75%, #ac0878 100%);
}

/* Pola latar hero */
.hero-pattern {
    background-color: #18181B;
    background-image: radial-gradient(#27272a 1px, transparent 1px);
    background-size: 24px 24px;
}
